//
// user.scss
// Use this to write your custom SCSS
//

// Gradients
.bg-gradient-dark-black {
  background-image: linear-gradient(to bottom, #050A0F 0%, #000 100%);
}

.bg-gradient-black-dark {
  background-image: linear-gradient(to bottom, #000 0%, #050A0F 100%);
}

.bg-pattern-stars-gradient {
  background-image: url(../img/patterns/stars-1.svg), linear-gradient(to bottom, #050A0F 0%, transparent 100%);
  background-repeat: repeat-y;
}
.bg-pattern-stars-big {
  background-image: url(../img/patterns/stars-2.svg);
}




@media (max-width: 991.98px) {
  .navbar-collapse .navbar-nav .nav-item + .nav-item {
    border-top: 1px solid #111;
  }
  .navbar-collapse {
    background-color: rgba(0,0,0,.95);
  }
}